<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game2.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <a href="main.html" class="back"></a>

      <div class="balance_cont block">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <img src="../png/wheel.png" alt="" class="wheel" />
      <div class="spin btn">Крутить</div>

      <img src="../png/pointer.png" alt="" class="pointer" />

      <img src="../png/c1.png" alt="" class="modal modal_1 hidden" />
      <img src="../png/c2.png" alt="" class="modal modal_2 hidden" />
      <img src="../png/c3.png" alt="" class="modal modal_3 hidden" />
      <img src="../png/c4.png" alt="" class="modal modal_4 hidden" />
      <img src="../png/c5.png" alt="" class="modal modal_5 hidden" />
      <img src="../png/c6.png" alt="" class="modal modal_6 hidden" />
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game2.js"></script>
  </body>
</html>
