<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="balance_cont block">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <a href="game2.html" class="btn link link_1">ИГРАТЬ</a>
      <a href="game.html" class="btn link gr">Авиатор</a>
      <a href="../index.html" class="btn link gr">Политика</a>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script>
      if (!localStorage.balance_g184) {
        localStorage.balance_g184 = 3000;
      }

      if (!localStorage.selected_g184) {
        localStorage.selected_g184 = 1;
      }

      $(".balance").html(localStorage.balance_g184);

      window.onload = () => {
        $(".wrapper").removeClass("hidden");
      };
    </script>
  </body>
</html>
